body
  background: #000
  width: 100vw
  height: 100vh

  &::-webkit-scrollbar
    display: none
    width: 0

#ui-view-container
  position: relative
  transition: 0.2s
  width: 100%
  height: 100%

ui-view
  position: absolute
  display: block
  width: 100vw
  height: auto
  transition: 0.3s

  &::-webkit-scrollbar
    display: none
    width: 0

.ng-hide.ng-hide-animate
  display: none

.showNav
  transform: translate(100px, 100px)
  opacity: 0.5

.animateFromHome
  &.ng-enter
    transform: translateX(-1300px)
  &.ng-enter-active
    transform: translateX(0)
  &.ng-leave
    transform: translateX(0)
  &.ng-leave-active
    transform: translateX(-1300px)


.animateToHome
  &.ng-enter
    transform: translateX(1300px)
  &.ng-enter-active
    transform: translateX(0)
  &.ng-leave
    transform: translateX(0)
  &.ng-leave-active
    transform: translateX(1300px)

.activeNav
  transform: translateY(0px) !important

#main-nav
  position: fixed
  top: 0
  width: 100vw
  color: rgba(200,200,200,0.75)
  font-size: 20px
  font-family: Codystar
  z-index: 10000000

  #main-links
    background: #000000
    display: flex
    justify-content: flex-start
    align-items: center
    height: 100px
    width: 100vw
    transform: translateY(-100px)
    padding-left: 130px
    transition: 0.3s


  .nav-link
    font-family: Neon80
    text-align: center
    cursor: pointer
    transition: all 0.5s
    color:rgb(255,255,255,0.6)
    margin-right: 20px
    text-shadow: 0 0 15px rgb(255,255,255)
    transition: 0.3s

    &:hover
      color: rgb(255,255,255)
      text-shadow: 0 0 15px rgb(255,255,255), 0 0 25px rgb(255,255,255)      

  .contact
    background: #000000
    display: flex
    flex-direction: column
    align-items: center
    position: fixed
    width: 100px
    height: 100vh
    top: 0
    left: 0
    padding-top: 100px
    transform: translateX(-100px)
    z-index: 100000
    transition: 0.3s

    & > *
        margin: 20px 0

    .relative
      position: relative

    .email-compose
      position: absolute
      background: #000000
      width: 320px
      height: 60px
      transition: 0.3s
      opacity: 0
      transform: translate(-100%, -20px)
      display: flex
      justify-content: center
      align-items: center

    .emailExpanded
      transform: translate(50px, -20px)
      opacity: 1

    .social-logo
        width: 32px
        margin: 0 10px
        opacity: 0.75
        transition: 0.1s
        cursor: pointer

        &:hover
            opacity: 1
            transform: scale(1.1)
 

#ham-menu
  position: fixed
  top: 30px
  left: 30px
  width: 50px
  height: 30px
  display: flex
  flex-direction: column
  justify-content: space-around
  align-items: center
  cursor: pointer
  z-index: 10000000
  .bar
    background: rgb(125, 125, 125)
    opacity: 0.3
    width: 40px
    height: 5px
    border-radius: 2.5px
    transition: 0.33s

  .bar:nth-child(2) 
    width: 30px

  &:hover 
    .bar
      opacity: 1
    .bar-middle
      transform: translateX(-5px)

.xHam
  .bar
    opacity: 1 !important
    border-radius: none
  .bar-top
    transform: translateY(10px) rotate(45deg)
  .bar-middle
    transform: translateX(100px)
    opacity: 0 !important
  .bar-bottom
    transform: translateY(-10px) rotate(-45deg)


.showLinks
  transform: translateY(0px) !important

.showContact
  transform: translateX(0px) !important


@media (max-width: 525px) 

  .showNav
    transform: translate(-100px, -100px)

  .hideMainNav
    transform: translate(200px, 200px)

  #main-nav
    top: auto
    bottom: 0

    #main-links
      justify-content: flex-end
      padding-right: 130px
      transform: translateY(100px)


    .nav-link
      margin-left: 20px

    .contact
      left: auto
      top: auto
      justify-content: flex-end
      right: 0
      bottom: 0
      padding-bottom: 110px
      transform: translateX(100px)


      .email-compose
        transform: translate(0, -20px)

      .emailExpanded
        transform: translate(-300px, -20px)

  #ham-menu
    top: auto
    left: auto
    bottom: 30px
    right: 30px

  .hideLinks
    transform: translateY(-100px)

  .hideContact
    transform: translateX(-100px)
    