#weather-app-section
  font-family: 'Julius Sans One', sans-serif
  $eggplant: rgb(104,65,85)

  .flex-center
  	display: flex
  	flex-direction: column
  	justify-content: center
  	align-items: center

  .flex-wrap
  	flex-wrap: wrap

  .controls
    position: fixed
    bottom: 0
    width: 100vw
    padding-bottom: 50px
    color: white
    transition: 0.5s
    input
      background: rgba(255,255,255,0.05)
      margin: 10px
      border-radius: 10px
      box-shadow: inset 0px 0px 10px rgba(255,255,255,0.15)
      color: white
      transition: 0.3s
    input:focus
      outline: none


  #landing-page-background
    z-index: 10000
    color: #CCCCCB
    width: 100vw
    height: 105vh
    position: fixed
    background: url(./app/routes/weather-app/images/bg.jpg)
    background-size: cover

  .slide-up-animation
    animation: slide-up 1s forwards

  @keyframes slide-up
    20%
      transform: translateY(5%)
    100%
      transform: translateY(-100%)
      display: none

  .landing-page-background
    *
    	padding-top: 1em

  .landing-lower-content
    width: 100vw
    height: 50vh
    *
      margin: 1em
      flex-direction: column
      justify-content: space-around
      align-items: center

  #site-title
    width: 100vw
    height: 50vh
    font-family: 'Baloo Bhaina', cursive
    color: $eggplant
    font-size: 96px
    text-align: center
    text-shadow: 0 0 10px rgba(255,255,255,0.3),0 0 20px $eggplant

  button
    padding: 10px 15px
    background: none
    color: rgba(200,200,200,0.75)
    border: 0.5px solid rgba(200,200,200,0.75)
    border-radius: 20px
    cursor: pointer
    transition: 0.15s

    &:hover
      color: rgba(200,200,200,1)
      background: $eggplant
      border: none
      box-shadow: 0 0 20px $eggplant
      transform: translate(0px, -1px)

    &:focus
      outline: none

    &:active
      outline: none
      transform: translate(0px, 3px)
      box-shadow: 0px 1px 5px 0px rgba(255,255,255,0.15)

  .search-input-container
    input
    	background: none

  .search-input
    border: none
    background: transparent
    padding: 10px
    width: 150px
    margin-bottom: 0px
    border-radius: 20px
    box-shadow: inset 0px 0px 10px 0px rgba(255,255,255,0.15)
    text-align: center
    color: #fff
    transition: 0.5s

    &::placeholder
      color: rgba(255,255,255,0.25)
      text-align: center

    &:focus
      background: rgba(255,255,255,0.25)
      box-shadow: inset 0px 0px 20px 0px rgba(255,255,255,0.15)
      outline: none
      width: 225px

  .data-header
    position: fixed
    width: 100%
    min-height: 80px
    top: 0
    right: 0
    padding-left: 130px
    margin-top: 20px
    display: flex
    justify-content: space-between
    align-items: center
    color: rgba(250,250,250,0.8)
    font-size: 32px
    text-shadow: 0 0 10px rgb(0,0,0)
    transition: 0.5s

    & > *
      margin: 10px
      width: 20%
    
    .location
      justify-content: flex-end

    .selected-time
      font-size: 24px    

  .background
    width: 100vw
    height: 100vh
    position: absolute
    top: 0
    left: 0

  #gray-sky
    opacity: 0
    position: fixed
    width: 100vw
    height: 100vh
    background-image: linear-gradient(0, #ccc, #aaa)

  #mountainSVG
    position: fixed
    max-height: 65vh
    bottom: 0
    left: 0

  .cloud
    position: fixed

  .cloud1
    top: 50
    left: 50
    height: 30vh


  #precip-cloud-right-large
    height: 50vh
    top: 5vh
    right: -5vw
    opacity: 0
    path
      fill: rgba(255, 255, 255, 0.5)


  #precip-cloud-right-small
    height: 30vh
    right: -5vw
    top: 30vh
    opacity: 0
    path
      fill: rgba(255, 255, 255, 0.5)


  #precip-cloud-left-large
    height: 55vh
    top: 10vh
    left: -10vw
    opacity: 0
    path
      fill: rgba(255, 255, 255, 0.5)


  #precip-cloud-left-small
    height: 30vh
    top: 20vh
    left: -10vw
    opacity: 0
    path
      fill: rgba(255, 255, 255, 0.5)


  #precip-cloud-top
    height: 20vh
    left: 0
    top: 0
    filter: drop-shadow(2px 2px 5px #888)

  .windPath
    position: fixed
    stroke: #ffffff
    padding-top: 15px
    width: 150vw


  #windPath1
    top: 30vh
    stroke-width: 0


  #windPath2
    top: 60vh
    stroke-width: 0


  #windPath3
    top: 45vh
    left: -15vw
    stroke-width: 0


  #windPath4
    top: 15vh
    left: -27vw
    stroke-width: 0


  @keyframes wind
    to
      stroke-dashoffset: 0

  canvas
    position: fixed
    background: transparent
    transition: 0.5s


  #precipCanvas
      top: 15vh
      left: -15vw

  #starsCanvas
      width: 100vw
      height: 100vh
      top: 0
      left: 0
      opacity: 0

  #timeSlider
    -webkit-appearance: none
    margin: 10px 0
    width: 70%
    background: none
    transition: 0.25s


  #timeSlider:focus
    outline: none
    transition: 0.25s


  #timeSlider::-webkit-slider-runnable-track
    width: 100%
    height: 30px
    cursor: pointer
    border-radius: 15px
    transition: 0.25s



  #timeSlider::-webkit-slider-thumb
    background: rgba(255, 255, 255, 0.5)
    height: 30px
    width: 45px
    border-radius: 50px
    cursor: pointer
    -webkit-appearance: none
    transition: 0.25s


  #timeSlider::-moz-range-track
    width: 100%
    height: 30px
    cursor: pointer
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5)
    border-radius: 15px
    transition: 0.25s



  #timeSlider::-moz-range-thumb
    background: rgba(0, 0, 0, 0.5)
    height: 30px
    width: 30px
    border-radius: 50px
    cursor: pointer
    transition: 0.25s


  #timeSlider::-ms-track
    width: 100%
    height: 10px
    cursor: pointer
    background: transparent
    border-color: transparent
    color: transparent
    transition: 0.25s



  #timeSlider::-ms-fill-lower
    border-radius: 10px
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5)


  #timeSlider::-ms-fill-upper
    border-radius: 10px
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5)


  #timeSlider::-ms-thumb
    background: rgba(0, 0, 0, 0.5)
    height: 30px
    width: 30px
    border-radius: 50px
    cursor: pointer
    transition: 0.25s


  #side-nav
    position: absolute
    top: 0
    left: -300px
    width: 300px
    height: 600px
    margin-top: 80px
    border-radius: 10px
    overflow-x: hidden
    box-shadow: 8px 7px 20px 0px rgba(51, 51, 51, 0.34)
    transition: 0.3s


  #side-nav-toggle-button
    position: fixed
    left: -20px
    top: 0
    margin-top: 100px
    padding-right: 20px
    width: 50px
    height: 30px
    background: rgba(0,0,0,0.3)
    transform: rotateY(180deg)
    border-radius: 5px
    display: flex
    justify-content: center
    align-items: center 
    cursor: pointer
    transition: 0.3s
 

@media (max-width: 675px)
  #weather-app-section
    #site-title
      font-size: 72px

    .data-header
      margin-top: 15px
      padding: 10px
      font-size: 20px
      flex-direction: column
      align-items: flex-end

      & > *
        margin: 5px
        width: 70%
        align-items: flex-end

      .selected-time
        font-size: 20px 
      
    .controlls
      bottom: 50px
 
    #side-nav
      margin-top: 10px

    #side-nav-toggle-button
      margin-top: 30px

@media (max-height: 450px)
  #weather-app-section
    #side-nav
      height: auto
      overflow: scroll

.hidden
  display: none !important
