#about-section
    width: 100vw
    height: 100vh
    background: black
    color: white
    display: flex 
    flex-direction: column
    justify-content: center
    align-items: center
    transition: 1s

    #headshot
        border-radius: 50%
