$faster: 'Faster One', cursive
$cinzel: 'Cinzel', serif
$playfair: 'Playfair Display', serif
$julius: 'Julius Sans One', sans-serif
$syncopate: 'Syncopate', sans-serif


#home-container
  color: rgb(150,150,150)
  font-family: $julius
  margin-top: 70px

  p
    padding: 40px
    text-align: center

  .link-bar
    width: 100vw
    height: 100vh
    background: linear-gradient(black 0%, rgb(20,20,20) 100%)
    display: flex
    overflow: hidden
    flex-direction: column
    justify-content: center
    align-items: center

  .headline
    text-align: center
    font-size: 120px


  #space-div
    background: url('./app/routes/home/img/space-game-2.png')
    background-size: cover
    background-position: bottom left
    background-repeat: no-repeat
    .headline
      color: orange
      text-shadow: -5px 5px #610e0e
      font-family: $faster

  #golden-ratio-div
    .headline
      color: rgb(255, 202, 0)
      text-shadow: -2px 2px #4e4411
      font-family: $cinzel
    .top
      z-index: 1

  #golden-ratio-div #gr-svg-bg
    stroke: #111
    position: absolute
    width: inherit
    max-width: 100%
    height: inherit
    transition: stroke 1s

  #golden-ratio-div:hover #gr-svg-bg
    stroke: #333

  $baloo: 'Baloo Bhaina', cursive

  #weather-app-div
    .headline
      font-family: $baloo
      color: skyblue

  .top, .bottom
    width: 100%
    height: 50%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

  .top
    justify-content: flex-end


  .svg-button
    position: absolute
    width: 140px
    transition: 1s

  .svg-button:hover
    cursor: pointer

  .svg-hover:active
    transform: translateY(12px)


  .svg-button .button-ol-1
    stroke: #b3b3b3
    stroke-width: 2px
    fill: rgba(255,255,255,0)
    stroke-dasharray: 400px
    stroke-dashoffset: 400px
    transition: 1s


  .svg-button .button-ol-2
    stroke: #b3b3b3
    stroke-width: 2px
    fill: rgba(255,255,255,0)
    stroke-dasharray: 400px
    stroke-dashoffset: 0px
    transition: 1s

  .svg-button:hover .button-ol-1
    stroke-dashoffset: 1200px
    transition: 1s
  .svg-button:hover .button-ol-2
    stroke-dashoffset: -800px
    transition: 1s


  .link-text
    position: relative
    font-size: 1em
    width: 140px
    text-align: center
    transition: 0.5s
    font-family: $julius


  @media (max-width: 750px)
    .headline
      font-size: 68px

  @media (max-width: 400px)
    .headline
      font-size: 48px
