#home-container
  .link-bar
    width: 100vw
    height: 80vh
    background: linear-gradient(black 0%, grey 100%)
    display: flex
    overflow: hidden
    flex-direction: column
    justify-content: center
    align-items: center

    button
      background: transparent
      color: white

    button:hover
      cursor: pointer

    button:focus
      outline: none

  #space-div
    background: url('./app/routes/home/img/space-game.png')
    background-size: cover
